<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal website for Jacob Kahn">
    <meta name="author" content="Jacob Kahn">
    <title>Jacob Kahn - Home</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Icons Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{"/assets/css/home.css"}}" rel="stylesheet">
  </head>
  <body class="text-center">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Info</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/experience.html">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
        </ul>
      </div>
  </nav>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <!--
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="/pages/skills.html">Skills</a>
        <a class="nav-link" href="#">Projects</a>
      </nav>
    </div>
  -->
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Jacob Kahn</h1>
    <p class="lead">Recent Software Engineering graduate from UMass Dartmouth.</p>
    <p class="lead">
      <a href="mailto:jgkahn33@gmail.com" class="fa fa-envelope" style="margin:10px;"></a>
      <a href="https://github.com/jkahn33" class="fa fa-github" style="margin:10px;"></a>
      <a href="https://www.linkedin.com/in/jacob-kahn/" class="fa fa-linkedin" style="margin:10px;"></a>
      <a href="{{"/assets/files/Jacob_Kahn_Resume.pdf"}}" target="_blank" class="fa fa-file-text-o" style="margin:10px;"></a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>&copy; 2019 Jacob Kahn</p>
    </div>
  </footer>
</div>
</body>
